* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins';
  position: relative;
}

input {
  -webkit-appearance: none;
  appearance: none;
}


body {
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (min-width: 1536px) {

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow:hidden;
  /* border: solid;
  border-color: #FD3C22; */
}

}

@media (max-width: 1535px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow:hidden;
    /* border: solid;
    border-color: #FD3C22; */
  }

  }

form {
  display: flex;
  flex-direction: inherit;
  width: 100%;
  /* border: solid; */
}

.autolog-add, .autolog-todofield {
  display: flex;
  justify-content: center;
}

.heroimage {
  background-image: url("./images/mountainsminimal.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.autolog-button {
  background-color: #bcff03;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20rm;
  padding: 1rem;
  font-family: 'Krona One', sans-serif;
  width: 25%;
}

.autolog-input {
  border: none;
  width: 75%;
  background: linear-gradient(143deg, #00caff 3%, #a200ff 49%, #ff00a8 100%);
  color: #fffafa;
  font-size: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.autolog, .autolog-item {
  border: none;
  width: 100%;
  display: flex;
  background-color:#f5f5f5;
  overflow: hidden;
  font-weight: bold;
  box-shadow: 5px 4px 5px #888888;
}

.fa-minus:before, .trash-btn, .fa-check:before, .complete-btn {
  background-color:#ec2a9a;
  color: #f5f5f5;
  border: none;
  padding: 1rem;
}

.autolog-item {
  padding: 1rem;
}

.autolog-button:hover {
  background-color: #7e16e5;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body  {
    background-color: #131313 ;
  }
  .autolog-input {
    background: linear-gradient(143deg, #00caff 3%, #a200ff 49%, #ff00a8 100%);
    color: #fffafa;
  }
  .autolog, .autolog-item {
    color: #fffafa;
    background-color: #3d3c3c;
  }

}

.completed {
    text-decoration: line-through;
  }